/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: purple;
}

h2 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 56px;
  letter-spacing: -0.2px;
  word-spacing: 6px;
  color: #F6FF00;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

#myDIV {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#textIN {
  box-sizing: content-box;
  width: 55%;
  padding: 20px;
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: black;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 31px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

#textIN:value {
  font-size: 10px;
}

#bTN {
  box-sizing: content-box;
  width: 5%;
  padding: 30px;
  border: 6px solid yellow;
  border-radius: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background-color: black;
  cursor: pointer;
}

ul li {
  width: 100%;
  padding: 20px;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  word-spacing: 3px;
  color: black;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  background-color: beige;
  border: 3px solid black;
  border-radius: 5px;

}
