.ti {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 56px;
  letter-spacing: -0.2px;
  word-spacing: 6px;
  color: #F6FF00;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  text-align: center;
}

hr {
  color: yellow;
}

.ui {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.it {
  box-sizing: content-box;
  width: 55%;
  padding: 20px;
  border: 3px solid yellow;
  border-radius: 10px;
  background-color: black;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 31px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}
.ba {
  box-sizing: content-box;
  width: 5%;
  padding: 30px;
  border: 6px solid yellow;
  border-radius: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 23px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background-color: black;
  cursor: pointer;
}
table {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 22px;
    border-spacing: 10px;
    border-radius: 25px;
    background-color: white;
    font-family: sans-serif;
    background: #f6e6b4;
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%);
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 );
}

 td {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  letter-spacing: 0.6px;
  word-spacing: 6px;
  color: #A4FFA4;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
}
.tod {
  font-family: sans-serif;
  text-align: center;
  border: 2px solid;
  background-color: black;
  font-size: 25px;
  border-radius: 5px;
}
.tod:hover {
  background-color: yellow;
  color: black;
  border-color: black;
}
.tr {
    margin-top: 20px;
    height: 40px;
}
.pb {
    width: 40px;
    text-align: center;
    background-color: black;
    border: 2px solid;
    border-radius: 5px;
}
.pb:hover {
    background-color: #fff98a;
}
.cb {
    align: left;
    width: 40px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 2px solid;
}
.cb:hover {
    background-color: lightgreen;
    color: black;
    border-color: black;
}
.rb {
    align: left;
    width: 40px;
    text-align: center;
    background-color: black;
    border: 2px solid;
    border-radius: 5px;
}
.rb:hover {
    background-color: #ff4040;
    color: black;
    border-color: black;
}
body {
  background-color: #161616;

}
hr {
  width: 90%;
}

p {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  letter-spacing: 0.6px;
  word-spacing: 6px;
  color: #A4FFA4;
  font-weight: 400;
  text-decoration: none;
  font-style: italic;
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: center;
}
